.header {
  background-color: #dc143c;
  text-align: center;
  padding: 20px;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #b22222;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ffd700;
  color: white;
}
.column {
  float: left;
}

.left {
  width: 20%;
}

.right {
  width: 80%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}